* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #181819f1; 
    color: white;
    padding: 1rem;

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h4 {
    text-align: center;
}

.container {
    max-width: 1200px;
}

.box {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box:hover {
    opacity: 0.3;
    transform:scale(1.03);
    transform: rotate(2deg);
}

.container,
.header,
.menu,
.menu_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

p {
    font-size: 13px;
}

.hijo1 {
    background-color: rgb(2, 66, 2);
}

.hijo2 {
    background-color: rgba(220, 144, 3, 0.976);
}

.hijo3 {
    background-color: rgb(110, 43, 76);
}

.hijo4 {
    background-color:rgb(188, 92, 92);
}

.hijo5 {
    background-color:rgb(226, 177, 116);
}

.hijo6 {
    background-color: rgb(69, 172, 236);
}

.hijo7 {
    background-color: rgb(38, 38, 189);
}

.hijo8 {
    background-color: blueviolet;
}

.hijo9 {
    background-color: rgb(54, 37, 54);   
    height: 350px;
}

.hijo9 li {
    list-style: none;
}

.footer_hijo9 {
    width: 100%;
    height: 30px;;
    background-color:#181819f1;  
    border-radius: 10px;
    text-align: center;
}

.lista {
    text-align: center;
}



@media (min-width: 500px) {
    .header,
    .menu {
        flex-direction: row;
    }

    .hed {
        width: 50%;
    }
    
    .menu-list {
        width: 40%;
    }

    .hijo9 {
        width: 60%;
        height: 500px;
    }   
}

@media (min-width: 800px) {
    .menu {
        gap: 0;
    }

    .menu_list {
        width: 60%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .hijo9 {
        width: 40%;
        height: auto;
    }  

    .hijo3,
    .hijo4,
    .hijo5,
    .hijo6,
    .hijo7,
    .hijo8 {
        width: calc(50% - 1rem)
    }
}

@media (min-width: 1100px) {

    .menu {
        gap: 0;
    }

    .menu_list{
    width: 70%;
}

.hijo9 {
    width: 30%;
    height: auto;
}

.hijo3,
    .hijo4,
    .hijo5,
    .hijo6,
    .hijo7,
    .hijo8 {
        width: calc(33% - 1rem);

    }

}